.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--icon-fill);
  mask: var(--icon-url) center/contain no-repeat;
  /* -webkit-mask: var(--icon-url) center/contain no-repeat; */
  image-rendering: pixelated;
}

.icon:hover {
  background-color: var(--icon-hover-fill);
}
