.radio-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.radio-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.radio-custom {
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-button-border);
  border-radius: 0px;
  margin-left: 8px;
  display: inline-block;
  position: relative;
  transition: all 0.1s;
}

.radio-custom::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: var(--color-enabled);
  opacity: 0;
  transition: opacity 0.1s;
}

.radio-input:checked + .radio-custom::after {
  opacity: 1;
}
